<div class="carousels full-size-carousels marginator">

  <% Spree::Taxonomy.published_carousels.each do |carousel| %>

    <div class="carousel <%= carousel.style %>">
      <div class="carousel-title">
        <%= carousel.name %>:
      </div>
      <div class="carousel-products">
        <%= render partial: 'spree/products/products', locals: { products: carousel.products } %>
      </div>
      <div class="clearfix"></div>
      <a class="prev" href="#"><span>prev</span></a>
      <a class="next" href="#"><span>next</span></a>
    </div>

  <% end %>

</div>